<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pets 3</title>
</head>
<body>
<form method="post" action="#">
    <label for="color">Select an color</label>
    <check if="{{ isset(@errors['color']) }}">
        <p>{{ @errors['color'] }}</p>
    </check>
    <select class="form-control" id="color" name="color">
        <option> Select a color </option>
        <repeat group="{{ @colors }}" value="{{ @colorOption }}">
            <option>{{ @colorOption }}</option>
        </repeat>
    </select>
    <button type="submit">Next>></button>
</form>
</body>
</html>