<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>colors</title>
</head>
<body>
<select class="form-control" name="color" id="color">
    <option>--Select a Color--</option>
    <repeat group="{{ @colors }}" value="{{ @colorOption }}">
        <option>{{ @colorOption }}</option>
    </repeat>
</select>
    <form action="#" method="post">
        Color: <select name="color">
                <option>red</option>
                <option>blue</option>
                <option>yellow</option>
                <option>black</option>
                </select>
        <button type="submit">Submit</button>
    </form>
</body>
</html>